@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ==================== GLOBAL STYLES ==================== */
* {
    padding        : 0;
    margin         : 0;
    box-sizing     : border-box;
    text-decoration: none;
    list-style     : none;
}

html {
    scroll-behavior: smooth;
    overflow-x     : hidden;
}

body {
    font-family: "Roboto", sans-serif;
    color      : var(--color-text-dark);
    overflow-x : hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Baloo 2", sans-serif;
}

:root {
    --primary-color  : #008F76;
    --secondary-color: #F6F5FF;
    --link-color     : #F5F5FF;
    --color-white    : #FFFFFF;
    --text-dark      : #333;
    --text-light     : #666;
    --red-highlight  : #ff6347;
}

body {
    font-family     : 'Arial', sans-serif;
    background-color: var(--secondary-color);
}

.container {
    max-width: 1200px;
    margin   : 0 auto;
    padding  : 0 20px;
}









/* ============================================================================================================================*/
.header {
    background: var(--primary-color);
    position  : fixed;
    z-index   : 9999;
    top       : 0;
    left      : 0;
    right     : 0;
    padding   : 5px 0;

}

.header__container {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.nav {
    display    : flex;
    align-items: center;
    gap        : 350px;
}

.nav__menu {
    display    : flex;
    align-items: center;
    gap        : 150px;
}

.menu__list {
    display    : flex;
    align-items: center;
    gap        : 45px;
}

.menu__link {
    font-weight   : 400;
    font-style    : Regular;
    font-size     : 16px;
    line-height   : 200%;
    letter-spacing: 0%;
    text-align    : center;
    color         : var(--link-color);
    position      : relative;

}

.menu__link::after {
    content   : " ";
    position  : absolute;
    height    : 3px;
    width     : 0;
    left      : 50%;
    bottom    : -5px;
    background: #b6bdb1;
    transition: 0.5s ease;
}

.menu__link:hover {
    color: #b6bdb1;
}

.menu__link:hover::after {
    width: 100%;
    left : 0;
}


.header__btn {
    padding         : 10px 24px;
    border-radius   : 20px;
    font-weight     : 500;
    font-style      : Medium;
    font-size       : 16px;
    line-height     : 200%;
    letter-spacing  : 0%;
    text-align      : center;
    cursor          : pointer;
    background-color: transparent;
    color           : var(--color-white);
    border          : 1px solid var(--color-white);
}

.hamburger {
    display       : none;
    flex-direction: column;
    row-gap       : 15px;
    cursor        : pointer;
    z-index       : 888;
    transition    : 1s ease-in;
    margin-right  : 50px;
}

.hamburger__line {
    background: var(--color-white);
    width     : 35px;
    height    : 3px;
    margin-top: 10px;
    transition: 0.3s ease-in;
}












/* ================================================================================ */



main {
    padding-top: 100px;
}

.hero__container {
    position      : relative;
    padding-bottom: 350px;
}

.hero__box {
    text-align   : center;
    margin-bottom: 50px;
}

.hero__text {
    font-weight   : 700;
    font-style    : Bold;
    font-size     : 16px;
    line-height   : 150%;
    letter-spacing: 0%;
    color         : var(--primary-color);
    margin        : 0 0 10px 0;
}

.hero__box p span {
    color         : var(--text-dark);
    font-weight   : 700;
    font-style    : Italic;
    font-size     : 16px;
    line-height   : 150%;
    letter-spacing: 0%;

}

.hero__box h1 {
    font-weight   : 500;
    font-style    : Bold;
    font-size     : 50px;
    line-height   : 200%;
    letter-spacing: 0%;
    color         : var(--text-dark);
    margin        : 0 0 10px 0;
}

.hero__box h1 span {
    color: var(--primary-color);
}

.hero__buttons {
    display        : flex;
    justify-content: center;
    gap            : 20px;
}

.hero__btn {
    padding       : 10px 24px;
    border-radius : 20px;
    font-weight   : 500;
    font-style    : Medium;
    font-size     : 16px;
    line-height   : 200%;
    letter-spacing: 0%;
    text-align    : center;
    cursor        : pointer;
    display       : flex;
    align-items   : center;
    gap           : 10px;
}

.hero__buttons .hero__btn:first-child {
    background-color: var(--primary-color);
    color           : white;
    border          : 1px solid var(--primary-color);
}

.hero__buttons .hero__btn:last-child {
    background-color: transparent;
    color           : var(--primary-color);
    border          : 1px solid var(--primary-color);
}

.hero__buttons .hero__btn:last-child img {
    height: 18px;
}

.hero__images {
    position        : relative;
    height          : 0px;
    margin-top      : 50px;
    background-color: #F6F5FF;
}

.hero__images div:not(.prev__next) {
    position       : absolute;
    box-shadow     : 0 15px 15px rgba(0, 0, 0, 0.582);
    overflow       : hidden;
    display        : flex;
    justify-content: center;
    align-items    : center;
    cursor         : pointer;
    transition     : transform 0.3s;
}

.hero__images img {
    width     : 100%;
    height    : 100%;
    object-fit: contain;
    display   : block;
    background: none;
}

/* Rasmlar pozitsiyalari va transformatsiyalari */
.hero__image-one {
    width    : 80px;
    height   : 120px;
    top      : 150px;
    left     : 10%;
    transform: rotate(-10deg);
    z-index  : 5;
}

.hero__image-two {
    width    : 120px;
    height   : 160px;
    top      : 50px;
    left     : 18%;
    transform: rotate(5deg);
    z-index  : 10;
}

.hero__image-three {
    width    : 60px;
    height   : 90px;
    top      : 50px;
    left     : 5%;
    transform: rotate(-20deg);
    z-index  : 2;
}

.hero__image {
    width     : 180px;
    height    : 250px;
    top       : 20px;
    left      : 50%;
    transform : translateX(-50%);
    z-index   : 20;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.849);
}

.hero__image-four {
    width    : 120px;
    height   : 160px;
    top      : 50px;
    right    : 18%;
    left     : unset;
    transform: rotate(-5deg);
    z-index  : 10;
}

.hero__image-five {
    width    : 80px;
    height   : 120px;
    top      : 150px;
    right    : 10%;
    left     : unset;
    transform: rotate(10deg);
    z-index  : 5;
}

.hero__image-six {
    width    : 60px;
    height   : 90px;
    top      : 50px;
    right    : 5%;
    left     : unset;
    transform: rotate(20deg);
    z-index  : 2;
}

.prev__next {
    position      : absolute;
    top           : 10%;
    left          : 50%;
    transform     : translate(-50%, -50%);
    width         : 250px;
    height        : 50px;
    z-index       : 30;
    pointer-events: none;
}

.prev,
.next {
    position        : absolute;
    width           : 35px;
    height          : 35px;
    background-color: var(--primary-color);
    border-radius   : 50%;
    pointer-events  : auto;
    display         : flex;
    justify-content : center;
    align-items     : center;
    color           : white;
    font-size       : 20px;
    box-shadow      : 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor          : pointer;
}

.prev {
    left: -20px;
    top : 150px;
}

.next {
    right: -20px;
    top  : 150px;
}

.prev__next {
    z-index       : 30;
    pointer-events: none;
}

.prev,
.next {
    pointer-events: auto;
}





.hr {
    width     : 405px;
    height    : 0;
    opacity   : 1;
    margin    : 0 auto;
    border    : none;
    border-top: 0.5px solid;
    border-image: radial-gradient(35.68% 5852249.52% at 44.07% -0.44%,
            #008F76 0%,
            rgba(148, 148, 148, 0) 100%) 1;
}


@media (max-width: 700px) {

    .menu__list {
        flex-direction: column;
        gap           : 30px;
    }

    .nav__menu {
        display         : none;
        flex-direction  : column;
        gap             : 50px;
        position        : absolute;
        top             : 0;
        left            : 0%;
        width           : 100%;
        background-color: var(--primary-color);
        padding         : 150px 0;
        box-shadow      : 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .menu__link {
        font-weight   : 500;
        font-style    : Regular;
        font-size     : 20px;
        line-height   : 200%;
        letter-spacing: 0%;
        text-align    : center;
        color         : var(--link-color);
        position      : relative;

    }

    .nav__menu.open {
        display: flex;
    }

    .hamburger {
        display     : block;
        margin-right: 50px;
    }

    .hamburger.open .hamburger__line:nth-child(1) {
        transform: translateY(18px) rotate(-45deg);
    }

    .hamburger.open .hamburger__line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open .hamburger__line:nth-child(3) {
        transform: translateY(-18px) rotate(45deg);
    }

    .hero__container h1 {
        font-size  : 40px;
        line-height: 50px;
    }

    .hero__btn {
        padding       : 10px 18px;
        border-radius : 18px;
        font-weight   : 400;
        font-style    : Medium;
        font-size     : 14px;
        line-height   : 200%;
        letter-spacing: 0%;
        text-align    : center;
        cursor        : pointer;
        display       : flex;
        align-items   : center;
        gap           : 10px;
    }

    .hero__container {
        padding-bottom: 0px;
    }

    .hero__images {
        position  : relative;
        height    : 480px;
        margin-top: 0px;
    }

    .hero__images div:not(.prev__next) {
        position       : absolute;
        box-shadow     : 0 4px 10px rgba(0, 0, 0, 0.15);
        overflow       : hidden;
        display        : flex;
        justify-content: center;
        align-items    : center;
        cursor         : pointer;
        transition     : transform 0.3s;
    }

    .hero__images img {
        width     : 100%;
        height    : 100%;
        object-fit: contain;
        display   : block;
        background: none;
    }


    .prev__next {
        position      : absolute;
        top           : 10%;
        left          : 50%;
        transform     : translate(-50%, -50%);
        width         : 150px;
        height        : 50px;
        z-index       : 30;
        pointer-events: none;
    }

    .prev,
    .next {
        position        : absolute;
        width           : 35px;
        height          : 35px;
        top             : 90px;
        background-color: var(--primary-color);
        border-radius   : 50%;
        pointer-events  : auto;
        display         : flex;
        justify-content : center;
        align-items     : center;
        color           : white;
        font-size       : 20px;
        box-shadow      : 0 2px 5px rgba(0, 0, 0, 0.2);
        cursor          : pointer;
    }
}

/* ======================================================================== */
.quotations {
    padding         : 80px 0;
    background-color: var(--secondary-color);
}

.quotations__container {
    text-align: center;
    max-width : 900px;
    margin    : 0 auto;
}

.quotations__box h2 {
    font-size    : 36px;
    font-weight  : 700;
    color        : var(--text-dark);
    margin-bottom: 10px;
}

.quotations__box h2 span {
    color: var(--primary-color);
}



.quotations__list {
    display        : flex;
    justify-content: space-between;
    gap            : 30px;
    list-style     : none;
    margin-top: 20px;
    padding        : 0;
}

.quotations__items {
    flex            : 1;
    background-color: var(--color-white);
    padding         : 30px;
    border-radius   : 15px;
    box-shadow      : 0 10px 20px rgba(0, 0, 0, 0.363);
    text-align      : left;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
}

.quotations__items h3 {
    font-style   : italic;
    font-size    : 18px;
    font-weight  : 400;
    line-height  : 1.6;
    color        : var(--text-dark);
    margin-bottom: 30px;
}

.quotations__items h3 span {
    font-weight: 700;
    color      : var(--text-dark);
}

.quotations__items .quotations__box {
    display    : flex;
    align-items: center;
    gap        : 15px;
    margin-top : auto;
}

.quotations__items .quotations__box img {
    width        : 60px;
    height       : 60px;
    border-radius: 50%;
    object-fit   : cover;
}

.quotations__items .quotations__box h4 {
    font-size  : 18px;
    font-weight: 700;
    color      : var(--text-dark);
    margin     : 0;
}

.quotations__items .quotations__box p {
    font-size: 14px;
    color    : var(--text-light);
    margin   : 0;
}

@media (max-width: 700px) {
    .quotations {
        padding: 0 0;
    }

    .quotations__list {
        flex-direction: column;
        gap           : 20px;
    }

    .quotations__box h2 {
        font-size: 28px;
    }

    .quotations__items {
        padding: 25px;
    }

    .quotations__items h3 {
        font-size: 16px;
    }
}


/* ============================================================================= */

.counter {
    padding: 60px 0;
    background-color: var(--color-white); 
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.counter__container {
    max-width: 1000px;
    margin: 0 auto;
}

.counter__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    text-align: center;
}

.counter__items {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.counter__items img {
    width: 50px; 
    height: 50px;
}

.counter__items div {
    text-align: left;
}

.counter__items h3 {
    font-size: 38px;
    font-weight: 800;
    color: var(--text-dark); 
    margin: 0 0 5px 0;
    line-height: 1;
}

.counter__items p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-light); 
    margin: 0;
    text-transform: uppercase; 
    letter-spacing: 0.5px;
}


@media (max-width: 768px) {
    .counter__list {
        flex-direction: column; 
        gap: 30px;
    }

    .counter__items {
        justify-content: center; 
        padding: 10px 0;
        width: 100%;
    }
}